In [1]:
import pandas as pd

In [2]:
# !pip install geopandas folium
import geopandas as gpd
import folium

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

## Weather Dataset

In [4]:
# Load weather data
weather_data = pd.read_csv('weather_Station_data.csv')

C:\Users\aneja\AppData\Local\Temp\ipykernel_19676\2641757085.py:2: DtypeWarning: Columns (17,21,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_data = pd.read_csv('weather_Station_data.csv')

In [5]:
# update the column name 'Date/Time' to 'Date' to be consistent with other datasets
weather_data.rename(columns={'Date/Time': 'Date'}, inplace=True)

In [6]:
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11,2004,11,-0.2,NaN,-6.7,...,NaN,NaN,80.7,NaN,26.0,NaN,NaN,NaN,NaN,NaN
1,-61.68,56.55,NAIN,8502799,2004-12,2004,12,-9.7,NaN,-16.9,...,NaN,NaN,88.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2,-61.68,56.55,NAIN,8502799,2005-01,2005,1,-18.4,NaN,-25.4,...,NaN,NaN,42.5,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,-61.68,56.55,NAIN,8502799,2005-02,2005,2,-8.9,NaN,-19.8,...,NaN,NaN,119.8,NaN,51.0,NaN,NaN,NaN,NaN,NaN
4,-61.68,56.55,NAIN,8502799,2005-03,2005,3,-5.2,NaN,-14.5,...,NaN,NaN,145.8,NaN,45.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,NaN,NaN,NaN,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [17]:
weather_data['Date'] = pd.to_datetime(weather_data['Date'])
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11-01,2004,11,-0.2,NaN,-6.7,...,NaN,NaN,80.7,NaN,26.0,NaN,NaN,NaN,NaN,NaN
1,-61.68,56.55,NAIN,8502799,2004-12-01,2004,12,-9.7,NaN,-16.9,...,NaN,NaN,88.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2,-61.68,56.55,NAIN,8502799,2005-01-01,2005,1,-18.4,NaN,-25.4,...,NaN,NaN,42.5,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,-61.68,56.55,NAIN,8502799,2005-02-01,2005,2,-8.9,NaN,-19.8,...,NaN,NaN,119.8,NaN,51.0,NaN,NaN,NaN,NaN,NaN
4,-61.68,56.55,NAIN,8502799,2005-03-01,2005,3,-5.2,NaN,-14.5,...,NaN,NaN,145.8,NaN,45.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10-01,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11-01,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,NaN,NaN,NaN,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12-01,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02-01,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [21]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67710 entries, 0 to 67709
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Longitude (x)               67710 non-null  float64
 1   Latitude (y)                67710 non-null  float64
 2   Station Name                67710 non-null  object
 3   Climate ID                  67710 non-null  object
 4   Date                        67710 non-null  datetime64[ns]
 5   Year                        67710 non-null  int64
 6   Month                       67710 non-null  int64
 7   Mean Max Temp (°C)          61316 non-null  float64
 8   Mean Max Temp Flag          17147 non-null  object
 9   Mean Min Temp (°C)          61299 non-null  float64
 10  Mean Min Temp Flag          16938 non-null  object
 11  Mean Temp (°C)              61188 non-null  float64
 12  Mean Temp Flag              20366 non-null  object
 13  Extr Max Temp (°C)          61316 non-null  float64
 14  Extr Max Temp Flag          16039 non-null  object
 15  Extr Min Temp (°C)          61299 non-null  float64
 16  Extr Min Temp Flag          16867 non-null  object
 17  Total Rain (mm)             53498 non-null  object
 18  Total Rain Flag             10660 non-null  object
 19  Total Snow (cm)             53559 non-null  float64
 20  Total Snow Flag             9578 non-null   object
 21  Total Precip (mm)           60147 non-null  object
 22  Total Precip Flag           13841 non-null  object
 23  Snow Grnd Last Day (cm)     49917 non-null  float64
 24  Snow Grnd Last Day Flag     3519 non-null   object
 25  Dir of Max Gust (10's deg)  1708 non-null   float64
 26  Dir of Max Gust Flag        1577 non-null   object
 27  Spd of Max Gust (km/h)      1710 non-null   float64
 28  Spd of Max Gust Flag        1576 non-null   object
dtypes: datetime64[ns](1), float64(11), int64(2), object(15)
memory usage: 15.0+ MB

In [23]:
weather_data.isnull().sum()

Longitude (x)                     0
Latitude (y)                      0
Station Name                      0
Climate ID                        0
Date                              0
Year                              0
Month                             0
Mean Max Temp (°C)             6394
Mean Max Temp Flag            50563
Mean Min Temp (°C)             6411
Mean Min Temp Flag            50772
Mean Temp (°C)                 6522
Mean Temp Flag                47344
Extr Max Temp (°C)             6394
Extr Max Temp Flag            51671
Extr Min Temp (°C)             6411
Extr Min Temp Flag            50843
Total Rain (mm)               14212
Total Rain Flag               57050
Total Snow (cm)               14151
Total Snow Flag               58132
Total Precip (mm)              7563
Total Precip Flag             53869
Snow Grnd Last Day (cm)       17793
Snow Grnd Last Day Flag       64191
Dir of Max Gust (10's deg)    66002
Dir of Max Gust Flag          66133
Spd of Max Gust (km/h)        66000
Spd of Max Gust Flag          66134
dtype: int64

In [12]:
filtered_weather_data= weather_data[weather_data['Mean Max Temp (°C)'].isnull()]
filtered_weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
33,-60.22,55.45,HOPEDALE (AUT),8502400,1998-01-01,1998,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,-60.22,55.45,HOPEDALE (AUT),8502400,1998-02-01,1998,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,-60.22,55.45,HOPEDALE (AUT),8502400,1998-03-01,1998,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,-60.22,55.45,HOPEDALE (AUT),8502400,1998-04-01,1998,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,-60.22,55.45,HOPEDALE (AUT),8502400,1998-05-01,1998,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67389,-123.44,48.43,ESQUIMALT HARBOUR,1012710,2004-09-01,2004,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67413,-123.23,48.42,DISCOVERY ISLAND,1012475,1999-04-01,1999,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67449,-123.23,48.42,DISCOVERY ISLAND,1012475,2002-04-01,2002,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67477,-123.23,48.42,DISCOVERY ISLAND,1012475,2004-08-01,2004,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67478,-123.23,48.42,DISCOVERY ISLAND,1012475,2004-09-01,2004,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
monthly_means = weather_data.groupby(['Month'])
monthly_means

In [25]:
# Calculate monthly means for 'Mean Max Temp (°C)' and 'Mean Min Temp (°C)'
monthly_means = weather_data.groupby(['Month'])[['Mean Max Temp (°C)']].mean()

# Use these means to fill missing values
weather_data['Mean Max Temp (°C)'] = weather_data['Mean Max Temp (°C)'].fillna(weather_data['Month'].map(monthly_means['Mean Max Temp (°C)']))
#weather_data['Mean Min Temp (°C)'] = weather_data['Mean Min Temp (°C)'].fillna(weather_data['Month'].map(monthly_means['Mean Min Temp (°C)']))

In [26]:
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11-01,2004,11,-0.2,NaN,-6.7,...,NaN,NaN,80.7,NaN,26.0,NaN,NaN,NaN,NaN,NaN
1,-61.68,56.55,NAIN,8502799,2004-12-01,2004,12,-9.7,NaN,-16.9,...,NaN,NaN,88.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2,-61.68,56.55,NAIN,8502799,2005-01-01,2005,1,-18.4,NaN,-25.4,...,NaN,NaN,42.5,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,-61.68,56.55,NAIN,8502799,2005-02-01,2005,2,-8.9,NaN,-19.8,...,NaN,NaN,119.8,NaN,51.0,NaN,NaN,NaN,NaN,NaN
4,-61.68,56.55,NAIN,8502799,2005-03-01,2005,3,-5.2,NaN,-14.5,...,NaN,NaN,145.8,NaN,45.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10-01,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11-01,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,NaN,NaN,NaN,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12-01,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02-01,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [27]:
weather_data.isnull().sum()

Longitude (x)                     0
Latitude (y)                      0
Station Name                      0
Climate ID                        0
Date                              0
Year                              0
Month                             0
Mean Max Temp (°C)                0
Mean Max Temp Flag            50563
Mean Min Temp (°C)             6411
Mean Min Temp Flag            50772
Mean Temp (°C)                 6522
Mean Temp Flag                47344
Extr Max Temp (°C)             6394
Extr Max Temp Flag            51671
Extr Min Temp (°C)             6411
Extr Min Temp Flag            50843
Total Rain (mm)               14212
Total Rain Flag               57050
Total Snow (cm)               14151
Total Snow Flag               58132
Total Precip (mm)              7563
Total Precip Flag             53869
Snow Grnd Last Day (cm)       17793
Snow Grnd Last Day Flag       64191
Dir of Max Gust (10's deg)    66002
Dir of Max Gust Flag          66133
Spd of Max Gust (km/h)        66000
Spd of Max Gust Flag          66134
dtype: int64

In [29]:
# List of columns to fill missing values
columns_to_fill = ['Mean Min Temp (°C)', 'Mean Temp (°C)', 'Extr Max Temp (°C)',
                    'Extr Min Temp (°C)']

# Group by 'Month' and calculate mean for each column
monthly_means = weather_data.groupby(['Month'])[columns_to_fill].mean()

# Iterate over the columns and fill missing values with monthly means
for column in columns_to_fill:
    weather_data[column].fillna(weather_data['Month'].map(monthly_means[column]), inplace=True)

# Check the result
print(weather_data[columns_to_fill].isnull().sum())

Mean Min Temp (°C)    0
Mean Temp (°C)        0
Extr Max Temp (°C)    0
Extr Min Temp (°C)    0
dtype: int64

In [30]:
weather_data.isnull().sum()

Longitude (x)                     0
Latitude (y)                      0
Station Name                      0
Climate ID                        0
Date                              0
Year                              0
Month                             0
Mean Max Temp (°C)                0
Mean Max Temp Flag            50563
Mean Min Temp (°C)                0
Mean Min Temp Flag            50772
Mean Temp (°C)                    0
Mean Temp Flag                47344
Extr Max Temp (°C)                0
Extr Max Temp Flag            51671
Extr Min Temp (°C)                0
Extr Min Temp Flag            50843
Total Rain (mm)               14212
Total Rain Flag               57050
Total Snow (cm)               14151
Total Snow Flag               58132
Total Precip (mm)              7563
Total Precip Flag             53869
Snow Grnd Last Day (cm)       17793
Snow Grnd Last Day Flag       64191
Dir of Max Gust (10's deg)    66002
Dir of Max Gust Flag          66133
Spd of Max Gust (km/h)        66000
Spd of Max Gust Flag          66134
dtype: int64

In [33]:
# Original list of columns to fill
columns_to_fill = ['Total Rain (mm)', 'Total Snow (cm)',
                             'Total Precip (mm)', 'Snow Grnd Last Day (cm)',
                             'Dir of Max Gust (10\'s deg)', 'Spd of Max Gust (km/h)']

# Group by 'Month' and calculate mean for each column
monthly_means = weather_data.groupby(['Month'])[columns_to_fill].mean()

# Iterate over the columns and fill missing values with monthly means
for column in columns_to_fill:
    weather_data[column].fillna(weather_data['Month'].map(monthly_means[column]), inplace=True)

# Check the result
print(weather_data[columns_to_fill].isnull().sum())

C:\Users\aneja\AppData\Local\Temp\ipykernel_19676\1660963522.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_means = weather_data.groupby(['Month'])[columns_to_fill].mean()

KeyError: 'Total Rain (mm)'

In [34]:
print(weather_data.columns)

Index(['Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID', 'Date',
       'Year', 'Month', 'Mean Max Temp (°C)', 'Mean Max Temp Flag',
       'Mean Min Temp (°C)', 'Mean Min Temp Flag', 'Mean Temp (°C)',
       'Mean Temp Flag', 'Extr Max Temp (°C)', 'Extr Max Temp Flag',
       'Extr Min Temp (°C)', 'Extr Min Temp Flag', 'Total Rain (mm)',
       'Total Rain Flag', 'Total Snow (cm)', 'Total Snow Flag',
       'Total Precip (mm)', 'Total Precip Flag', 'Snow Grnd Last Day (cm)',
       'Snow Grnd Last Day Flag', 'Dir of Max Gust (10's deg)',
       'Dir of Max Gust Flag', 'Spd of Max Gust (km/h)',
       'Spd of Max Gust Flag'],
      dtype='object')

In [41]:
# Filter the columns to fill missing values
columns_to_fill = ['Extr Min Temp (°C)', 'Total_Rain(mm)',
                    'Total Snow (cm)', 'Total Precip (mm)', 'Snow Grnd Last Day (cm)',
                    'Dir of Max Gust (10\'s deg)', 'Spd of Max Gust (km/h)']

# Calculate monthly means for each column
monthly_means = weather_data.groupby('Month')[columns_to_fill].mean()

# Iterate over the columns and fill missing values with monthly means
for column in columns_to_fill:
    weather_data[column].fillna(weather_data['Month'].map(monthly_means[column]), inplace=True)

# Check the result
print(weather_data[columns_to_fill].isnull().sum())

C:\Users\aneja\AppData\Local\Temp\ipykernel_19676\1734936427.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_means = weather_data.groupby('Month')[columns_to_fill].mean()

KeyError: 'Total_Rain(mm)'

In [36]:
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11-01,2004,11,-0.2,NaN,-6.7,...,NaN,NaN,80.7,NaN,26.0,NaN,NaN,NaN,NaN,NaN
1,-61.68,56.55,NAIN,8502799,2004-12-01,2004,12,-9.7,NaN,-16.9,...,NaN,NaN,88.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2,-61.68,56.55,NAIN,8502799,2005-01-01,2005,1,-18.4,NaN,-25.4,...,NaN,NaN,42.5,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,-61.68,56.55,NAIN,8502799,2005-02-01,2005,2,-8.9,NaN,-19.8,...,NaN,NaN,119.8,NaN,51.0,NaN,NaN,NaN,NaN,NaN
4,-61.68,56.55,NAIN,8502799,2005-03-01,2005,3,-5.2,NaN,-14.5,...,NaN,NaN,145.8,NaN,45.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10-01,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11-01,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,NaN,NaN,NaN,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12-01,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02-01,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [40]:
weather_data.rename(columns={'Total Rain (mm)': 'Total_Rain(mm)'}, inplace=True)

In [42]:
weather_data.columns

Index(['Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID', 'Date',
       'Year', 'Month', 'Mean Max Temp (°C)', 'Mean Max Temp Flag',
       'Mean Min Temp (°C)', 'Mean Min Temp Flag', 'Mean Temp (°C)',
       'Mean Temp Flag', 'Extr Max Temp (°C)', 'Extr Max Temp Flag',
       'Extr Min Temp (°C)', 'Extr Min Temp Flag', 'Total_Rain(mm)',
       'Total Rain Flag', 'Total Snow (cm)', 'Total Snow Flag',
       'Total Precip (mm)', 'Total Precip Flag', 'Snow Grnd Last Day (cm)',
       'Snow Grnd Last Day Flag', 'Dir of Max Gust (10's deg)',
       'Dir of Max Gust Flag', 'Spd of Max Gust (km/h)',
       'Spd of Max Gust Flag'],
      dtype='object')

In [43]:
# Filter the columns to fill missing values
columns_to_fill = ['Mean Max Temp (°C)', 'Mean Min Temp (°C)', 'Mean Temp (°C)',
                    'Extr Max Temp (°C)', 'Extr Min Temp (°C)', 'Total_Rain(mm)',
                    'Total Snow (cm)', 'Total Precip (mm)', 'Snow Grnd Last Day (cm)',
                    'Dir of Max Gust (10\'s deg)', 'Spd of Max Gust (km/h)']

# Calculate monthly means for each column
monthly_means = weather_data.groupby('Month')[columns_to_fill].mean()

# Iterate over the columns and fill missing values with monthly means
for column in columns_to_fill:
    weather_data[column].fillna(weather_data['Month'].map(monthly_means[column]), inplace=True)

# Check the result
print(weather_data[columns_to_fill].isnull().sum())

C:\Users\aneja\AppData\Local\Temp\ipykernel_19676\1052614908.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_means = weather_data.groupby('Month')[columns_to_fill].mean()

KeyError: 'Total_Rain(mm)'